<app-orders-filter [(filter)]="filter" />

<hr class="my-3">

@if (error()) {
  <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md max-h-24 max-w-96" role="alert">
    <div class="flex">
      <div class="py-1 flex gap-2">
        <mat-icon class="text-red-900">info</mat-icon>
        <div>
          <p class="font-bold">Error fetching Your data</p>
          <p class="text-sm underline cursor-pointer" (click)="tryFetchAgain()">Try again.</p>
        </div>
      </div>
    </div>
  </div>
}

<div class="overflow-x-auto mt-3">
  <table mat-table [dataSource]="sortedDataSource() || []" matSort (matSortChange)="sortChange($event)"
    class="mat-elevation-z8">
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{ element.orderId }} </td>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> Customer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
    </ng-container>

    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="orderTotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount"> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.orderTotal}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <a (click)="selectCurrentOrder(element)">
          <mat-icon class="text-blue-500 cursor-pointer">visibility</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
